html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: #f3f3f3;
    overflow: hidden;
}

#game-alert {
    font-family: 'MuseoModerno', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

#main-container {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
    height: 400px;
    width: 700px;
    background-color: #fff;
    box-shadow: 0 16px 31px -17px rgba(0,0,0,0.6);
}

#gamebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 700px;
    padding: 0 30px 0 30px;
    border-radius: 15px 15px 0px 0px;
    box-sizing: border-box;
    background-color: #ff6246;
    color: #fff;
}

#reset-btn {
    font-family: 'MuseoModerno', cursive;
    background-color: #f3f3f3;
    color: #ff6246;
    width: 120px;
}

#reset-btn:hover {
    background-color: #fff;
    box-shadow: 0 0 10px #fff;
}

button, #levels {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #ff6246;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 150ms ease-out;
}

#levels {
    font-family: 'MuseoModerno', cursive;
}

.clicked-button {
    background-color: #ff7359;
    box-shadow: 0 0 0 3px white, 0 0 0 5px #ff7359;
}

#board {
    display: grid;
    gap: 5px;
    margin: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #ff6246;
    height: 330px;
    width: 330px;
}

.board-square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#btn-o {
    margin-left: 30px;
}

.o {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    border: solid 5px #ff6246;
}

.x {
    height: 70%;
    width: 70%;
    background: linear-gradient(#ff6246,#ff6246), linear-gradient(#ff6246,#ff6246);
    background-position: center;
    background-size: 100% 5px,5px 100%;
    background-repeat: no-repeat;
    transform: rotate(45deg);
}